<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" 
        style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
               <h1>  <img  src="assets/img/logoDirectorioNegro.png" alt="">
                <span style="color: rgb(248, 249, 250) !important; font-weight: bold; font-size: 32px;">
                    Directorio Web Empresarial</span>
            </h1>
                
                 
            </div>
        </div>
    </div>
    <div class="section section-about-us" style=" background-image: linear-gradient(rgb(227, 231, 233), rgb(252, 253, 253));"> 
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title" style="color: #0b78dd; font-weight: 800;">Quienes Somos?</h2>
                    <h5 class="description" style="color: rgb(10, 10, 10);">
                         <span style="color: tomato; font-size: 24px; font-weight: bold;">OneClick</span> Directorio Web Empresarial. Es una plataforma online que brinda la posibilidad a cualquier empresa: pequeña,
                         mediana o grande, a darse a conocer en internet. Le brindamos la oportunidad de estar en contacto constante
                         con sus clientes, que pueden consultarle en cualquier momento o ver sus productos y/o servicios a cualquier hora. 
                         Generando confianza y seguridad.
                    </h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/login.jpg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">
                                 " LLevamos la tecnologia web a su empresa.. Registra la informacíon necesaria y genera muchos mas clientes."
                                <br>
                                <br>
                                <small>-</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/bg3.jpg')"></div><br><br>
                        <p style=" align-items: center; width: 100%; font-weight: 400;text-align: justify;  background-image: linear-gradient(rgb(238, 108, 22), rgb(245, 186, 109)); padding: 20px; color: white;"> 
                            Acceso a la información desde cualquier dispositivo con acceso a internet...
                        </p>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container imagae-right" style="background-image: url('assets/img/bg1.jpg')"></div>
                        <h3 style="color: #247aeb; font-weight: 800;">Al registrar su empresa en la plataforma obtiene muchos beneficios.</h3>
                        <p style=" font-weight: 400; text-align: justify;  background-image: linear-gradient(rgb(77, 191, 243), rgb(49, 61, 228)); padding: 20px; color: white;"> 
                            Su empresa tendrá un panel de control privado para que administre toda la información. Datos de ubicación,
                            servicios que ofrece, registro de promociones para captar mejores y mayores clientes.
                        </p>
                        <p style="font-weight: 400;text-align: justify;  background-image: linear-gradient(rgb(238, 108, 22), rgb(245, 186, 109)); padding: 20px; color: white;"> 
                            Podra registrar sus clientes y llevar un base de datos de ellos, para enviarles nuevas actualizaciones de productos e información.
                        </p>
                        <p style=" font-weight: 400; text-align: justify;  background-image: linear-gradient(rgb(77, 191, 243), rgb(49, 61, 228)); padding: 20px; color: white;"> 
                           Registra información de mensajeros, o busca y asigna uno para que lleve tu producto.
                        </p>
                        <p style="font-weight: 400;text-align: justify;  background-image: linear-gradient(rgb(238, 108, 22), rgb(245, 186, 109)); padding: 20px; color: white;"> 
                           Revisa tu bandeja de entrada, donde recibirá los mensajes que futuros clientes envían, preguntando y solicitando información 
                           de tus productos. Además la información le llegará como notificación a su email.  Responde desde el mismo panel y llevando un control adecauado de tu información.
                        </p>
                        <p style=" font-weight: 400; text-align: justify;  background-image: linear-gradient(rgb(77, 191, 243), rgb(49, 61, 228)); padding: 20px; color: white;"> 
                           Muchos beneficios y servicios más le ofrece la plataforma Directorio Empresarial Web, tendrá
                           acceso las 24/7 a la información.
                         </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-team text-center" style="background-image: url('assets/img/login.jpg');
    background-attachment: fixed; opacity: 1;">
    </div>

    <div class="section section-team text-center" style=" font-weight: 400; text-align: justify; padding: 20px; color: white;">
        <div class="container">
            <h2 class="title" style="color: #0b78dd; font-weight: 800;">Nuestros Servicios</h2><hr><br><br>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player" style="background-color: rgb(249, 249, 250); padding: 20px;">
                            <img src="assets/img/disenoWeb.png" style="width: 100% !important;" class="rounded-circle img-fluid img-raised">
                            <h4 class="title" style="color: black;">Diseño Web</h4>
                           
                            <p style="color: #7f7f81 !important; text-align: center; font-weight: 500;">
                                Tener un sitio web no solo proporcionará la información que está buscando el usuario, sino que le da credibilidad 
                                al negocio. Transmitir seguridad, estabilidad y confianza en un lugar abierto las 24 horas los 365 días del año 
                                es algo difícil de conseguir en un negocio físico.<br>
                                Diseñamos y elaboramos su sitio web segun sus necesidades, con las mejores tecnologías del momento.
                            </p>
                            <button type="button" style="color: white; font-weight: bold;" class="btn btn-primary btn-lg btn-block">Solicitar Información</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player" style="background-color: rgb(249, 249, 250); padding: 20px;">
                            <img src="assets/img/sotfware.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title" style="color: black;">Desarrollo Plataformas de Administración</h4>
                        
                            <p style="color: #7f7f81 !important; text-align: center; font-weight: 500;">
                               Implementación de sistemas de información internos de su organización, accesos mediante roles de usuario,
                               Utilizamos las mejores tecnologias del momento.
                            </p><br><br><br>
                            <button type="button" style="color: white; font-weight: bold;" class="btn btn-primary btn-lg btn-block">Solicitar Información</button>     
                        </div>
                    </div>
                    <div class="col-md-4" style="border-color: darkred !important;">
                        <div class="team-player" style="background-color: rgb(249, 249, 250); padding: 20px;border-color: darkred">
                            <img src="assets/img/" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title" style="color: black;">Directorio Web Empresarial  <span style="color: tomato; font-size: 24px; font-weight: bold;">"OneClick"</span></h4>
                           
                            <p style="color: #7f7f81 !important; text-align: center; font-weight: 500;">
                               Nuestra Plataforma de administración de empresas, brindando perfiles corporativos, brindando a sus empresas
                               la posibilidad de darse a conocer en internet, y de esta manera posicionarse y obtener muchos más clientes.    
                            </p><br><br>
                            <button type="button" style="color: white; font-weight: bold;" class="btn btn-primary btn-lg btn-block">Solicitar Información</button>    
                        </div>
                    </div>

                    <div class="col-md-4" style="border-color: darkred !important;">
                        <div class="team-player" style="background-color: rgb(249, 249, 250); padding: 20px;border-color: darkred">
                            <img src="assets/img/appMovil.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title" style="color: black;">Diseñamos su App movil</h4>
                           
                            <p style="color: #7f7f81 !important; text-align: center; font-weight: 500;">
                              Diseñamos e implementamos su  App movil, para ser distribuida en las platoformas de Google Play y App Store.
                            </p>
                            <button type="button" style="color: white; font-weight: bold;" class="btn btn-primary btn-lg btn-block">Solicitar Información</button>
                        </div>
                    </div>

                    <div class="col-md-4" style="border-color: darkred !important;">
                        <div class="team-player" style="background-color: rgb(249, 249, 250); padding: 20px;border-color: darkred">
                            <img src="assets/img/redisenoWeb.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title" style="color: black;">Rediseño de Sitios Web</h4>
                           
                            <p style="color: #7f7f81 !important; text-align: center; font-weight: 500;">
                               Analizamos, revisamos su sitio web actual, y le brindamos soluciones a todas las necesidades y 
                               requerimientos que usted necesite.
                            </p>                          
                            <button type="button" style="color: white; font-weight: bold;" class="btn btn-primary btn-lg btn-block">Solicitar Información</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-contact-us text-center" style="background-image: url('assets/img/fondoContacto.jpg');
    background-attachment: fixed; opacity: 1;">
        <div class="container">
            <h2 class="title" style="color: white; font-weight: bold;">Dejanos tu comentario e inquietud?</h2>
            <p class="description" style="color: white; font-weight: bold;">Tu opinión es importante para nosotros!!</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                          <i class="now-ui-icons users_circle-08"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Su nombre completo" (focus)="focus=true" (blur)="focus=false">
                  </div>
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                          <i class="now-ui-icons users_circle-08"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Su número telefónico" (focus)="focus=true" (blur)="focus=false">
                  </div>
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                            <i class="now-ui-icons ui-1_email-85"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Su emáil" (focus)="focus1=true" (blur)="focus1=false">
                    
                   </div>
                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Cuentanos tu proyecto...."></textarea>
                    </div>
                    <div class="send-button">
                        <a style="color: white; font-weight: bold;" href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Enviar Mensaje</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
