<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4" style="background-color:whitesmoke;">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12">
  
        
        </div>
       

  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
 
    <hr>

    
  
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contáctenos</h5>
        <p>Emáil: servicio.cliente@onclick.com 
            -    Movil: 3212880350 
           Colombia
        </p>
      </li><br>
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"> 2020, Designed by
       
        <span style="color: tomato; font-size: 24px; font-weight: bold;">OneClick   </span> Colombia
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
